@using Sandbox;
@using Sandbox.UI;

@namespace MyGame
@inherits RootPanel
@attribute [StyleSheet]

<root>
    <ChatBox/>
    <VoiceList/>
    <div class="header">
        <label>Rocket Jump Beta</label>
        <label class="subtitle">Control: RMB - jump. R - respawn. tab - score</label>
    </div>
</root>

@code
{
}