Lobby {
    position: absolute;
    top: 0px;
    left: -130px;
    right: 0px;
    bottom: 0px;
    background-color: #111;
    pointer-events: all;
    flex-direction: row;
    padding: 0;
    font-family: Poppins;
    color: #ccc;

    .leaderboard {
        position: absolute;
        margin-top: 64px;
        left: 1400px;
        width: 500px;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        font-size: 30px;
        gap: 5px;

        p {
            color: blue;
        }

        .anotherboard {
            p {
                color: white;
            }

            flex-grow: 1;
            flex-direction: column;
            justify-content: flex-end;
            align-items: stretch;
            font-size: 30px;
            gap: 5px;
        }
    }

    .saves {
        position: absolute;
        margin-top: 64px;
        left: 1850px;
        width: 500px;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        font-size: 30px;
        gap: 5px;


        p {
            color: gold;
        }

        .saveItem {
            div {
                margin-left: 10px;
            }

            .close {
                color: red;
                width: 100px;
            }

            .button {
                width: 150px;
            }
        }
    }

    .left {
        margin-top: 64px;
        flex-direction: column;
        width: 800px;
        left: 60%;

        > .title {
            font-size: 64px;
            font-weight: bold;
            color: cyan;
        }

        > .explanation {
            color: white;
            font-size: 24px;
            flex-direction: column;
            width: 100%;
        }

        > .update {
            color: yellow;
            font-size: 20px;
            flex-direction: column;
            width: 100%;
        }

        > .button-list {
            margin-top: 64px;
            flex-direction: column;
            gap: 16px;
        }
    }

    .header {
        font-size: 64px;
        width: 100%;
        font-weight: bold;
        color: white;
    }

    .lobby-list {
        position: absolute;
        left: 150px;
        margin-top: 60px;
        flex-direction: column;

        > label {
            color: azure;
            font-size: 24px;
            flex-direction: column;
            width: 100%;
        }

        > .button-list {
            flex-direction: column;
            margin-top: 64px;
            overflow: scroll;
            height: 63%;
            gap: 16px;

            > .button {
                background-color: transparent;
                color: #aaa;
                padding: 10px;
                border-radius: 8px;
                cursor: pointer;
                width: 100%;
                flex-direction: column;
                transition: all 0.2s ease-out;
                flex-shrink: 0;

                .title {
                    font-weight: bold;
                    font-size: 20px;
                }

                .meta {
                    font-size: 16px;

                    .map {
                        flex-grow: 1;
                    }

                    .count {
                        white-space: nowrap;
                    }
                }

                &:hover {
                    background-color: #333;
                }
            }
        }
    }

    .center {
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .button {
        background-color: transparent;
        color: #aaa;
        font-size: 32px;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        width: 300px;
        flex-direction: column;
        transition: all 0.2s ease-out;

        &:hover {
            background-color: #333;
        }
    }
}
